h1,h2
{
  color: rgb(138, 130, 184);
  font-family:Arial;  
}

h1 { color:purple; } 

article
{
background-color:pink;
width: 500px;
height: 500px;
color: rgb(0, 0, 0);
font-family: Arial;
}

body
{
    background-color:pink;
}

a:hover
{
    color:rgb(255, 0, 179);
}

input[type="text"]
{
    border:1px solid rgb(255, 255, 255);
}

main
{
    display:flex;
    flex-direction: column;
    gap: 5px;
    padding:5px;
    background-color: lightpink;

}


figure
{
    display: flex;
    flex-direction: row;
}

#main-text
{
text-align: center;
}